<div class="briefs-container">
    <div class="flex-item-left">
        <h2 id="Briefs">Briefs</h2>
    </div>
    <div class="flex-item-right">
        <div class="briefs-dropdown">
            <button class="briefs-dropbtn"><span id="brief-dropbtn-title">filter</span></button>
            <div class="briefs-dropdown-content">
                <button onclick="briefName()" id="brief-btn-name">Name</button>
                <button onclick="briefCategory()" id="brief-btn-category">Category</button>
                <button onclick="briefDate()" id="brief-btn-date">Date</button>
            </div>
        </div>
    </div>
</div>
<div id="briefs-sortby">
    <div id="brief-name">
    {% for bname in page.brief-name  %}
        {{ bname | markdownify }}
    {% endfor %}
    </div>
    <div id="brief-category">
    {% for bcat in page.brief-category  %}
        {{ bcat | markdownify }}
    {% endfor %}
    </div>
    <div id="brief-date">
        {% for bdate in page.brief-date  %}
            {{ bdate | markdownify }}
        {% endfor %}
    </div>
</div>
<script>
    function briefName() {
        $("#brief-name").show();
        $("#brief-category").hide();
        $("#brief-date").hide();
    }
    function briefCategory() {
        $("#brief-name").hide();
        $("#brief-category").show();
        $("#brief-date").hide();
    }
    function briefDate() {
        $("#brief-name").hide();
        $("#brief-category").hide();
        $("#brief-date").show();
    }
</script> 