.nav-container {
    overflow: hidden;
    background-color: transparent;
  }
  
  .nav-container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    // padding: 14px 16px;
    padding: 12px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown #homebtn,
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  // .dropdown #homebtn {
  //   padding: 14px 16px;
  // }
  .dropdown .dropbtn {
    padding: 14px 16px;
  }

  
  .dropdown:hover #homebtn,
  .nav-container a:hover, .dropdown:hover .dropbtn {
    background-color: #61daff;
  }
  .nav-container a:hover { text-decoration: none; }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content #sub {
    float: none;
    color: #61daff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content #sub:hover {
    background-color: #61daff;
    color: #fff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* Print PDF */
#title-container{
  display: flex;
}
#title-container .flex-item-left {
  flex: 85%;
}
#content-area .flex-item.right {
  flex: 15%;
}






/* Brief Sort By */
.briefs-container { display: flex; margin-top: 2.5em; }
.briefs-container .flex-item-left { flex: 85%; }
.briefs-container .flex-item-right { flex: 15%; }
#brief-category { display: none;}
#brief-name { display: none; }
.brief-arrow-down {
  height: 0;
  width: 0;
  border: 0;
  border-top: 5px solid black;
  border-left: 5px solid rgba(0,0,0,0);
  border-right: 5px solid rgba(0,0,0,0);
  margin-left: 7px;
  vertical-align: middle;
  display: inline-block;
}
.briefs-dropdown { overflow: hidden; }
.briefs-dropdown .briefs-dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.briefs-dropdown:hover .briefs-dropbtn {
  background-color:#61daff;
}
.briefs-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.briefs-dropdown-content button {
  float: none;
  color: black;
  border: none;
  background: none;
  text-decoration: none;
  display: block;
  text-align: left;
}
.briefs-dropdown-content button:hover {
  background-color: #61daff;
  color: #fff;
}
.briefs-dropdown:hover .briefs-dropdown-content {
  display: block;
}
.briefs-dropdown .briefs-dropbtn,
.briefs-dropdown-content button {
  padding: 10px;
}
.briefs-dropdown .briefs-dropbtn,
.briefs-dropdown-content,
.briefs-dropdown-content button {  width: 90px; }





